[google_sheets]
spreadsheet_id = "ID_DA_PLANILHA"

[auth]
username = "admin"
password = "troque-esta-senha"

[google_service_account]
type = "service_account"
project_id = "seu-projeto"
private_key_id = "chave"
private_key = "-----BEGIN PRIVATE KEY-----\nSUA_CHAVE\n-----END PRIVATE KEY-----\n"
client_email = "catalogo@seu-projeto.iam.gserviceaccount.com"
client_id = "id"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "URL_DO_CERTIFICADO"
